{% extends 'base.html.twig' %}

{% block title %}{{ patent.irn }}{% endblock %}

{% block headerbuttons %}
<a href="{{ path('app_view_table')}}">Back</a>
{% endblock %}

{% block body %}
<div hidden data-controller="patent">

</div>
<table>
    <thead>
        <tr>
            <th>IRN</th>
            <th>Patent Number</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Language</th>
            <th>Localization</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ patent.irn }}</td>
            <td>{{ patent.patentNumber }}</td>
            <td>{{ patent.title }}</td>
            <td>{{ patent.descript }}</td>
            <td>{{ patent.patentsAreCategorized.Type }}</td>
            <td>{{ patent.patentsHaveLanguage.Code ~ " " ~ patent.patentsHaveLanguage.Name }}</td>
            <td>{{ patent.patentsHaveLocalization.Type }}</td>
            <td>{{ patent.patentsHaveStatus.Stat }}</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th class="table-header" data-field="DatesHaveTypes" data-order="{{ field == 'DatesHaveTypes' ? order : 'ASC' }}">
                Date Type
                {% if field == 'DatesHaveTypes' %}
                    {{ order == 'ASC' ? '↑' : '↓' }}
                {% endif %}
            </th>
            <th class="table-header" data-field="DateShort" data-order="{{ field == 'DateShort' ? order : 'ASC' }}">
                Short Date
                {% if field == 'DateShort' %}
                    {{ order == 'ASC' ? '↑' : '↓' }}
                {% endif %}
            </th>
            <th class="table-header" data-field="DateLong" data-order="{{ field == 'DateLong' ? order : 'ASC' }}">
                Long Date
                {% if field == 'DateLong' %}
                    {{ order == 'ASC' ? '↑' : '↓' }}
                {% endif %}
            </th>
            <th class="table-header" data-field="GracePeriod" data-order="{{ field == 'GracePeriod' ? order : 'ASC' }}">
                Grace Period
                {% if field == 'GracePeriod' %}
                    {{ order == 'ASC' ? '↑' : '↓' }}
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for date in dates %}
            <tr>
                <td>{{ date.getDatesHaveTypes.DateType }}</td>
                <td>{{ date.DateShort|date('Y-m-d H:i:s') }}</td>
                <td>{{ date.DateLong|date('Y-m-d H:i:s') }}</td>
                <td>{{ date.GracePeriod|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
